[Unit]
Description=Led Strip Service
After=home-assistant.service

[Service]
Type=simple
User=pi

WorkingDirectory=/home/homeassistant/rpi-mqtt-leds
ExecStart=/srv/homeassistant/mqtt_venv/bin/python mqtt.py

[Install]
WantedBy=multi-user.target
